@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.large-section-title {
    &__border {
        border-bottom: 2px solid $secondary;
    }

    &__bg {
        background-color: $primary__light--5;
    }

    &__text {
        @include section__size;
        margin: 0 auto;
        padding: 90px 0 30px;
    }

    &__wrapper {
        @include section__size;
        @include main__padding;
        margin: 50px auto 0;
    }

    &__description {
        margin-top: -50px;
        display: flex;
        justify-content: space-between;
    }

    &__about {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $section__border;
        margin-bottom: 40px;
    }

    &__slogan {
        // margin-bottom: 50px;
    }

    &__client {
        margin-bottom: 50px;
        margin-right: 30px;
    }

    &__img {
        margin: 10px 0;
    }

    &__nav {
        border-bottom: 2px solid $secondary;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }
}
