@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.video-item {
    &__container {
        cursor: pointer;
        width: 355px;
        height: 100%;
        max-height: 355px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        outline: 2px solid $secondary;
        box-shadow: 8px 8px 1px 1px hsla(199, 58%, 51%, 0.4);
        @include transition__outline;
        @include transition__shadow;
        background-color: #fff;

        position: relative;

        @media screen and (max-width: $medium__desktop) {
            margin-right: 80px;
        }

        @media screen and (max-width: $small__tablet) {
            width: 242px;
            height: 242px;
            position: relative;
        }

        //! test small container
        &--medium {
            width: 300px;
            height: 300px;
            justify-content: flex-start;
        }

        &--small {
            width: 250px;
            height: 250px;

            @media screen and (max-width: $small__tablet) {
                width: 242px;
                height: 242px;
                position: relative;
            }
        }

        &:hover {
            outline: 4px solid $secondary;
            outline-offset: -2px;
        }

        &:active {
            @include button__press;
            box-shadow: 7px 7px 1px 1px hsla(199, 58%, 51%, 0);
        }
    }

    &__button {
        &--center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--relative {
            position: relative;
            right: 10px;
            top: 10px;
        }

        opacity: 0;
        @include transition;

        @media screen and (max-width: $small__tablet) {
            //     position: absolute;
            //     top: 60px;
            //     right: 45px;
        }
    }

    &__number {
        font-family: 'OktaNeue-Heavy';
        font-size: 56px;
        font-weight: 900;
        line-height: 1.2;
        color: $secondary;
        padding: 5px 25px;

        &--small {
            font-size: 46px;
            line-height: 0.9;
            padding-left: 15px;
        }

        @media screen and (max-width: $small__tablet) {
            font-size: 34px;
        }
    }

    &__label {
        font-family: 'OktaNeue-Heavy';
        font-size: 27px;
        padding: 0px 25px;
        max-width: 200px;
        font-weight: 900;
        color: $secondary;

        &--small {
            position: absolute;
            bottom: 0;
            font-size: 18px;
            line-height: 20px;
            padding-left: 10px;
            padding-bottom: 10px;
        }

        &--medium {
            margin-top: 25px;
            font-size: 20px;
            padding-left: 10px;
            max-width: 400px;
        }

        @media screen and (max-width: $small__tablet) {
            font-size: 19px;
            position: absolute;
            bottom: 0;
        }
    }
}

.video-item__container:hover .video-item__button {
    opacity: 1;
}
