@import '../../../../styles/vars';

.text-item {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;

        @media screen and (max-width: $desktop) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 50px;
        }
        &:last-child {
            flex-direction: row-reverse;
            justify-content: space-between;

            @media screen and (max-width: $desktop) {
                flex-wrap: wrap;
                justify-content: center;
            }

            @media screen and (max-width: $mobile) {
                flex-direction: column-reverse;
            }
        }

        @media screen and (max-width: $mobile) {
            margin-top: 70px;
            flex-direction: column-reverse;
        }
    }

    &__desc {
        font-family: 'OktaNeue-Regular';
        font-size: 15px;
        color: $text__body;
        margin-bottom: 30px;
    }

    &__img {
        margin-right: 35px;

        //! test small container
        &--small {
            max-width: 500px;
            max-height: 450px;
        }

        @media screen and (max-width: $desktop) {
            margin-right: 0;
        }

        @media screen and (max-width: $tablet) {
            margin-top: 40px;
            display: block;
            width: 100%;
            max-width: 740px;
        }

        @media screen and (max-width: $mobile) {
            margin: 0px 0 60px;
            display: block;
            width: 100%;
            max-width: 350px;
        }
    }
}
