@import '../../styles/vars';

.blog {
    margin: 100px auto 80px;

    &__cards {
        @include section__size;
        margin: 0 auto;
        border-top: 2px solid $secondary;

        &-wrapper {
            display: flex;
            margin-top: 20px;
        }
    }

    &__card {
        &:first-child {
            margin-right: 30px;
        }
        &:last-child {
            margin-bottom: 35px;
        }
    }

    &__btn {
        margin-top: 40px;
    }

    &__video {
        margin-bottom: 30px;
    }
}
