@import '../../../../styles/vars';

.page-header {
    width: 100%;
    max-width: $container__size - 100px;
    //   max-width: $header__width;
    margin: 210px auto 0;
    @include main__padding;

    position: relative;
    left: 30px;

    @media screen and (max-width: $tablet) {
        // margin-top: 90px;
        // overflow: hidden;
    }

    &__wrapper {
        margin-top: 70px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        text-align: left;
        width: 100%;
        max-width: $container__size;
        position: relative;
        bottom: 30px;

        @media screen and (max-width: $small__tablet) {
            left: 20px;
            position: absolute;
            top: -40px;
        }
    }

    &__img-left {
        align-self: flex-end;

        &::before {
            content: url('../../../../assets/img/common/wwd-dots.svg');

            @media screen and (max-width: $tablet) {
                content: url('../../../../assets/img/pageHeader/pttrns-dots-small-down.svg');
            }

            @media screen and (max-width: $small__tablet) {
                position: relative;
                top: 30px;
                left: -35px;
                z-index: 100;
            }
        }
    }

    &__img-right {
        align-self: flex-start;
        justify-content: flex-end;
        top: -50px;
        position: relative;

        &::after {
            content: url('../../../../assets/img/dots-large.svg');
            position: relative;

            @media screen and (max-width: $tablet) {
                top: 20px;
                content: url('../../../../assets/img/pageHeader/pttrns-dots-small-up.svg');
            }

            @media screen and (max-width: $small__tablet) {
                right: -25px;
                top: -35px;
            }
        }
    }

    &__button-wrapper {
        // margin-left: 100px;
        margin-top: 70px;
        align-items: center;
        display: flex;

        @media screen and (max-width: $tablet) {
            margin-left: 0;
        }

        @media screen and (max-width: $mobile) {
            margin-left: 0;
        }

        &::before {
            display: block;
            content: '';
            width: 100%;
            max-width: 120px;
            height: 1px;
            background-color: $secondary;
            margin-right: 20px;
        }
        &::after {
            margin-left: 10px;
            display: block;
            content: '';
            width: 100%;
            max-width: 465px;
            height: 1px;
            background-color: $secondary;

            @media screen and (max-width: $desktop) {
                max-width: 300px;
            }
        }
    }
}
