@import '../../../styles/vars';

.intellectual-property {
    @include section__size;
    margin: 0 auto 80px;
    @include main__padding;
    padding-top: $margin__top;
    position: relative;

    &::after {
        position: absolute;
        top: 80px;
        right: 10px;
        content: url('../../../assets/img/intellectualProperty/pttrns-combined.svg');

        @media screen and (max-width: $small__desktop) {
            content: url('../../../assets/img/intellectualProperty/pttrns-tablet.svg');
        }

        @media screen and (max-width: $small__tablet) {
            display: none;
        }
    }

    @media screen and (min-width: $mac__13) {
        margin: 150px auto 80px;
    }

    @media screen and (max-width: $desktop) {
        overflow: hidden;
        // padding-right: 40px;
    }

    // @media screen and (max-width: $small__tablet) {
    //     margin-top: 100px;
    // }

    @media screen and (max-width: $mobile) {
        background: none;
    }

    &__wrapper {
        background-image: url('../../../assets/img/intellectualProperty/books.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 30px;
        @include main__padding;

        @media screen and (min-width: $mac__13) {
            max-width: $container__size;

            margin: 0 auto 100px;
        }

        @media screen and (max-width: $mobile) {
            margin-left: 0;
        }
    }

    &__text {
        @include section__size;
        margin: 0 auto;

        &--margin {
            margin-right: 15px;
        }

        &--large {
            padding: 30px 0;
        }

        @media screen and (max-width: $small__desktop) {
            margin-bottom: 30px;
        }
    }

    &__text-wrapper {
        // display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 0 auto 100px;
        @include section__size;
        @include main__padding;

        &--reverse {
            @media screen and (max-width: $small__desktop) {
                display: flex;
                flex-direction: column-reverse;
                justify-content: start;
                align-items: flex-start;
            }
        }

        @media screen and (max-width: $small__desktop) {
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: $mobile) {
            padding: 0 10px;
            margin-left: 0;
            flex-direction: column-reverse;
        }
    }
}
