@import '../../../../styles/vars';

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
        position: fixed;
        top: 65px;
        @include section__size;
        border-bottom: 2px solid $secondary;
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 100;

        @media screen and (max-width: $small__tablet) {
            overflow-x: scroll;
            width: 100%;
            max-width: 600px;
        }
    }

    &__wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        padding: 60px 0 125px;

        width: 100%;
        max-width: $container__size;

        @media screen and (max-width: $small__tablet) {
            margin-top: 30px;
            padding-top: 140px;
            padding-bottom: 140px;
        }

        &::before {
            position: absolute;
            content: url('../../../../assets/img/waves.svg');
            top: 10px;
            left: -280px;
            z-index: -1;

            @media screen and (max-width: $desktop) {
                left: -320px;
            }

            @media screen and (max-width: $tablet) {
                padding: 90px 0;
                left: -380px;
                top: -120px;
            }

            @media screen and (max-width: $small__tablet) {
                content: url('../../../../assets/img/medium-waves.svg');
                left: -60px;
                top: -95px;
                transform: rotateY(180deg);
            }
        }

        &::after {
            position: absolute;
            content: url('../../../../assets/img/waves.svg');
            transform: rotateX(180deg);
            top: 10px;
            right: -280px;
            z-index: -1;

            @media screen and (max-width: $desktop) {
                right: -320px;
            }

            @media screen and (max-width: $tablet) {
                right: -350px;
                bottom: -100px;
                padding: 70px 0;
            }

            @media screen and (max-width: $small__tablet) {
                content: url('../../../../assets/img/medium-waves.svg');
                right: -50px;
                bottom: -75px;
            }
        }
    }

    &__subtitle {
        max-width: 600px;
    }

    &__form {
        display: flex;
        margin-top: 40px;
        position: relative;
        left: 10px;

        @media screen and (max-width: $small__tablet) {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
    }

    &__error {
        display: block;
        margin-top: 10px;
        font-family: 'OktaNeue-Black';
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 1px;
        color: $color__error;
        opacity: 0;

        &--show {
            opacity: 1;
        }
    }

    &__input {
        outline: none;
        box-shadow: 4px 4px 1px 1px rgba(57, 156, 203, 0.4);
        background-color: $background__primary;
        cursor: pointer;
        width: 350px;
        height: 40px;
        font-family: 'OktaNeue-Regular';
        font-size: 15px;
        color: $text__body;
        padding-left: 10px;
        border: 2px solid $secondary;
        margin-right: 20px;
        @include transition;

        &:focus {
            border-width: 4px;
        }

        &:hover {
            background-color: $background__secondary;
        }

        &--error {
            border: 2px solid $color__error;
            box-shadow: 4px 4px 1px 1px rgba(215, 29, 91, 0.4);
            position: relative;
        }
    }
}
