// FONTS

@font-face {
    font-family: 'OktaNeue-Black';
    src: url('../assets//fonts/OktaNeue-Black/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Black/font.woff') format('woff');
}
@font-face {
    font-family: 'OktaNeue-Thin';
    src: url('../assets//fonts/OktaNeue-Thin/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Thin/font.woff') format('woff');
}

@font-face {
    font-family: 'OktaNeue-Bold';
    src: url('../assets/fonts/OktaNeue-Bold/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Bold/font.woff') format('woff');
}

@font-face {
    font-family: 'OktaNeue-Medium';
    src: url('../assets/fonts/OktaNeue-Medium/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Medium/font.woff') format('woff');
}
@font-face {
    font-family: 'OktaNeue-Regular';
    src: url('../assets/fonts/OktaNeue-Regular/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Regular/font.woff') format('woff');
}
@font-face {
    font-family: 'OktaNeue-Heavy';
    src: url('../assets/fonts/OktaNeue-Heavy/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Heavy/font.woff') format('woff');
}

@font-face {
    font-family: 'OktaNeue-Light';
    src: url('../assets/fonts/OktaNeue-Light/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Light/font.woff') format('woff');
}
@font-face {
    font-family: 'OktaNeue-SemiBold';
    src: url('../assets/fonts/OktaNeue-SemiBold/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-SemiBold/font.woff') format('woff');
}

@font-face {
    font-family: 'OktaNeue-Normal';
    src: url('../assets/fonts/OktaNeue-Normal/font.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Normal/font.woff') format('woff');
}
