@import './vars';

@mixin transition {
    transition: 0.4s linear all;
}

@mixin transition__shadow {
    transition: 0.4s linear box-shadow;
}

@mixin transition__outline {
    transition: outline 0.6s linear;
}

@mixin transition__mixed {
    transition: outline 0.2s ease-out, box-shadow 0.7s linear;
}

@mixin main__padding {
    padding: 0 15px;

    @media screen and (max-width: $mobile) {
        padding: 0 10px;
    }
}

@mixin button__press {
    position: relative;
    bottom: -3px;
    right: -3px;
}

@mixin section__position {
    //   max-width: $container__size;
    max-width: $primary__container;
    width: 100%;
    margin: 60px auto 0px;
    padding: 0 15px;
}

@mixin section__size {
    width: 100%;
    // max-width: $container__size;
    max-width: $primary__container;
}

@mixin relative__position {
    position: relative;
    right: 100px;
}

@mixin border__size {
    width: 100%;
    max-width: 504px;
    height: 100%;
    max-height: 370px;

    @media screen and (max-width: $tablet) {
        max-width: 450px;
        max-height: 320px;
    }

    @media screen and (max-width: $small__tablet) {
        max-width: 760px;
    }
}

@mixin background__position {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@mixin background__shadow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition;
}

@mixin photo-icon__wrapper {
    width: 270px;
    height: 270px;

    @media screen and (max-width: $tablet) {
        width: 250px;
        height: 250px;
    }

    @media screen and (max-width: $small__tablet) {
        width: 230px;
        height: 230px;
    }

    @media screen and (max-width: $mobile) {
        width: 210px;
        height: 210px;
    }
}

@mixin photo-icon__img {
    width: 220px;
    height: 220px;

    @media screen and (max-width: $tablet) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: $small__tablet) {
        width: 190px;
        height: 190px;
    }

    @media screen and (max-width: $mobile) {
        width: 170px;
        height: 170px;
    }
}

@mixin small-photo-icon__img {
    width: 110px;
    height: 110px;

    @media screen and (max-width: $small__tablet) {
        width: 90px;
        height: 90px;
    }
}

@mixin small-photo-icon__wrapper {
    width: 140px;
    height: 140px;

    @media screen and (max-width: $small__tablet) {
        width: 120px;
        height: 120px;
    }
}
