@import '../../styles/vars';
@import '../../styles/mixins';

.statflo-case-study {
    &__text {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }

    &__links {
        align-self: flex-end;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__share {
        font-family: 'OktaNeue-Black';
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 1px;
        color: $text__body;
        display: inline-block;
        margin-right: 10px;
    }

    &__link {
        font-size: 16px;
        margin-right: 10px;
        color: $secondary;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}
