@import '../../../../styles/vars';

.tech {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @media screen and (max-width: $large__tablet) {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    &__info {
        max-width: 600px;

        padding: 0 15px;
        position: relative;

        &::before {
            position: absolute;
            top: -20px;
            left: 0;
            content: url('../../../../assets/img/small-waves.svg');
        }

        @media screen and (max-width: $large__tablet) {
            margin-bottom: 30px;
        }
    }

    &__desc {
        font-family: 'OktaNeue-Regular';
        font-size: 15px;
        color: $text__body;
        margin-bottom: 35px;
    }
    &__protection {
        margin-left: 4px;
        margin-right: 5px;
        cursor: pointer;
        font-family: 'OktaNeue-Medium';
        font-size: 15px;
        font-weight: 500;
        line-height: 1.53;
        color: $secondary;
    }

    &__images {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $desktop) {
            margin-left: 0px;
        }

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
