@import '../../../../styles/vars';

.contact-us-page__info {
    max-width: 600px;
    font-family: 'OktaNeue-Regular';
    font-size: 22px;
    line-height: 1.5;
    color: $text__body;

    @media screen and (max-width: $mobile) {
        font-size: 18px;
    }
}
