@import '../../styles/vars';
@import '../../styles/mixins';

.how-we-work {
    padding: 0px 15px 40px;
    margin: 120px auto 50px;
    @include section__size;

    @media screen and (max-width: $small__tablet) {
        overflow: hidden;
        margin-top: 100px;
    }

    &__video {
        &--bg {
            position: relative;

            &::before {
                position: absolute;
                content: url('../../assets/img/video-waves.svg');
                top: 40px;
                left: -150px;

                // @media screen and (max-width: $small__desktop) {
                //     left: -225px;
                //     top: 30px;
                //     content: url('../../../../assets/img/md-waves.svg');
                // }

                // @media screen and (max-width: $tablet) {
                //     content: url('../../../../assets/img/sm-waves.svg');
                //     left: 15px;
                //     top: 15px;
                //     transform: rotateY(180deg);
                // }
            }

            &::after {
                overflow: hidden;
                position: absolute;
                content: url('../../assets/img/video-waves.svg');
                top: 40px;
                right: -150px;
                transform: rotateX(180deg);

                // @media screen and (max-width: $small__desktop) {
                //     right: -220px;
                //     top: 20px;
                //     content: url('../../../../assets/img/md-waves.svg');
                // }

                // @media screen and (max-width: $tablet) {
                //     content: url('../../../../assets/img/sm-waves.svg');
                //     right: 15px;
                //     bottom: 10px;
                // }
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include section__size;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            background-color: #fff;

            &--mb {
                margin-bottom: 15px;
            }

            @media screen and (max-width: $small__desktop) {
                overflow-x: scroll;
                padding-bottom: 40px;
                width: 100%;
                max-width: 1000px;
                padding-left: 10px;
            }

            @media screen and (max-width: $mobile) {
                padding-left: 5px;
            }
        }
    }
}
