@import '../../styles/vars';

.how-we-work {
    padding: 0px 15px 40px;
    margin: 120px auto 50px;

    @include section__size;

    @media screen and (max-width: $small__tablet) {
        overflow: hidden;
        margin-top: 100px;
    }

    &__video {
        @include section__size;
        margin: 0 auto;
        position: relative;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $small__desktop) {
                overflow-x: scroll;
                padding-bottom: 40px;
                width: 100%;
                max-width: 1000px;
                padding-left: 50px;
            }
        }
    }
}
