@import '../../../../styles/vars';

.small-company-container {
    background-color: #3771c4;
    cursor: pointer;
    outline: 2px solid $secondary;
    box-shadow: 9px 9px 1px 1px rgba(57, 156, 203, 0.4);
    @include transition__outline;
    @include transition__shadow;
    margin-right: 30px;

    // height: 100%;
    height: 310px;

    display: grid;
    grid-template-columns: 1fr;

    width: 100%;
    max-width: 455px;

    &--blog {
        height: 360px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 630px;
        // margin-right: 15px;
        // height: 290px;
    }

    @media screen and (max-width: $small__tablet) {
        padding-bottom: 10px;
    }

    &:hover {
        outline: 4px solid $secondary;
        outline-offset: -2px;
    }
    &:active {
        @include button__press;
        box-shadow: 9px 9px 1px 1px rgba(57, 156, 203, 0);
    }

    &--secondary {
        background-color: $secondary;
        position: relative;
        overflow: hidden;
        padding-bottom: 0;

        &::before {
            position: absolute;
            top: -155px;
            right: 0;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 300px solid transparent;
            border-bottom: 300px solid transparent;
            border-right: 300px solid #b9008c;
        }
    }

    &--bg-server-connect {
        background-image: url('../../../../assets/img/companies/server-connect.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(74, 85, 94, 0.3);
        }
    }

    &--bg-building {
        background-image: url('../../../../assets/img/companies/building.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(74, 85, 94, 0.3);
        }
    }

    &--bg-blockchain {
        background-image: url('../../../../assets/img/companies/blockchain.jpeg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(74, 85, 94, 0.5);
        }
    }

    &--bg-db {
        background-image: url('../../../../assets/img/companies/db.jpeg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(74, 85, 94, 0.5);
        }
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }

    //walmart logo
    &__logo {
        position: relative;
        z-index: 10;
        margin: 20px 0 60px 20px;

        &--hide {
            display: none;
        }

        @media screen and (max-width: $small__tablet) {
            margin-left: 10px;
            margin-bottom: 40px;
            width: 120px;
        }
    }

    //walmart description
    &__desc {
        max-width: 600px;
        position: relative;
        z-index: 10;
        margin-left: 10px;
        margin-right: 26px;
        font-family: 'OktaNeue-Bold';
        font-size: 26px;
        font-weight: bold;
        line-height: 1.4;
        color: $background__primary;
        align-self: end;

        @media screen and (max-width: $small__desktop) {
            font-size: 22px;
            line-height: 1.2;
        }

        @media screen and (max-width: $small__tablet) {
            margin-left: 10px;
        }

        @media screen and (max-width: $tablet) {
            align-self: end;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    &__time {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }

    &__date {
        opacity: 0.88;
        font-family: 'OktaNeue-Black';
        font-size: 10px;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: 0.5px;
        text-align: right;
        color: $background__primary;
        margin-bottom: 6px;
    }

    &__readtime {
        opacity: 0.88;
        font-family: 'OktaNeue-Bold';
        font-size: 14px;
        font-weight: bold;
        line-height: 1.71;
        text-align: right;
        color: $background__primary;
    }
    // hashtags
    &__hashtags {
        // margin-top: 15px;
        font-family: 'OktaNeue-Black';
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 1px;
        color: $text__body;
        display: inline-block;
        max-width: 400px;

        &--hide {
            display: none;
        }
    }
    &__label {
        background-color: $brand__primary;
        margin-right: 6px;
        font-family: 'OktaNeue-Black';
        font-size: 10px;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: 0.5px;
        color: $background__primary;
        // display: block;
        display: inline-block;
        padding: 2px 3px;
        height: 17px;
        // width: 85px;

        &--editorial {
            background-color: $text__body;
        }

        &--whitepaper {
            color: $text__body;
            background-color: $color__confirmation;
        }
    }

    &__footer {
        display: flex;
        margin-top: 15px;
    }
}
