@import '../../styles/vars';
@import '../../styles/mixins';

.about-us {
    margin: 0px auto 50px;
    @include section__size;
    @include main__padding;

    &--mt {
        margin-top: 120px;
    }

    overflow: hidden;

    @media screen and (max-width: $small__tablet) {
        margin-top: 100px;
    }

    &__header {
        display: flex;
        align-items: center;

        @media screen and (max-width: $small__desktop) {
            flex-direction: column;
        }
    }

    &__img {
        position: relative;
        display: block;
        overflow: hidden;

        @media screen and (max-width: $small__desktop) {
            margin-top: 50px;
        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: 1;
            background-color: rgba(74, 85, 94, 0.5);
            background-image: url('../../assets/img/dots-small.svg');
        }
    }

    &__btn {
        margin-top: 30px;
    }

    &__gallery {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: $primary__container;
        margin: 0 auto;
        padding-bottom: 80px;

        @media screen and (max-width: $small__desktop) {
            flex-direction: column;
        }

        &-bg {
            @include main__padding;
            position: relative;
            width: 100%;
            max-width: $container__size;
            margin: 0 auto;
            overflow: hidden;
        }
    }

    &__bg {
        position: absolute;
        bottom: 10px;
        left: -100px;
        z-index: -1;

        @media screen and (max-width: $tablet) {
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 280px;
        }

        @media screen and (max-width: $small__tablet) {
            max-width: 300px;
            max-height: 180px;
            bottom: 30px;
        }
    }

    &__photo {
        display: block;
        width: 100%;
        max-width: 480px;
        margin-bottom: 15px;

        @media screen and (max-width: $desktop) {
            max-width: 420px;
        }

        @media screen and (max-width: $small__desktop) {
            max-width: 100%;
        }

        &--big {
            max-width: 580px;

            @media screen and (max-width: $desktop) {
                max-width: 520px;
            }

            @media screen and (max-width: $small__desktop) {
                max-width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        @media screen and (max-width: $small__desktop) {
            flex-direction: column;
        }
    }
}
