@import '../../styles/vars';

.what-we-do {
    @include section__position;

    &:last-child {
        margin-top: 50px;
    }

    @media screen and (min-width: $mac__13) {
        // @include large__resolution--media;
    }

    @media screen and (max-width: $tablet) {
        margin-top: 100px;
    }

    @media screen and (max-width: $mobile) {
        margin-left: 0;
        padding: 0 10px;
    }

    &__companies {
        display: flex;
        margin-bottom: 80px;
        justify-content: space-between;

        @media screen and (max-width: $large__tablet) {
            flex-direction: column;
        }

        @media screen and (max-width: $tablet) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 0px;
            flex-direction: column;
            gap: 50px;
        }
    }

    &__company {
        margin-right: 20px;

        &--large {
            // width: 100%;
        }
        @media screen and (max-width: $medium__desktop) {
            margin-right: 30px;
        }

        @media screen and (max-width: $large__tablet) {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    &__description-wrapper {
        border-bottom: 2px solid $secondary;
        display: flex;

        @media screen and (max-width: $small__tablet) {
            flex-direction: column;
        }
    }

    &__tech-icons {
        position: relative;
        margin-bottom: 70px;
    }

    &__bucket-wrapper {
        position: absolute;
        right: -50px;
        bottom: -160px;

        @media screen and (max-width: $tablet) {
            right: 110px;
        }

        @media screen and (max-width: $mobile) {
            right: 10px;
            bottom: -75px;
        }
    }

    &__tech-container {
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__description {
        max-width: $container__size;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-right: 100px;
        }

        &::before {
            position: absolute;
            z-index: -20;
            top: -30px;
            left: -30px;
            content: url('../../assets/img/subsectionWithDescription/subsection-waves-bg.svg');

            @media screen and (max-width: $mobile) {
                content: url('../../assets/img/small-waves.svg');
                top: -10px;
                left: 0;
            }
        }
    }
}
