@import '../../styles/vars';
@import '../../styles/mixins';

.contact-us {
    @include section__size;
    margin: 120px auto 50px;
    @include main__padding;

    @media screen and (max-width: $small__tablet) {
        margin-top: -17px;
    }

    @media screen and (max-width: $tablet) {
        margin-left: 0;
        margin-bottom: 70px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: flex-end;

        @media screen and (max-width: $desktop) {
            margin-top: 120px;
            // align-items: flex-start;
            flex-direction: column;
        }
    }
}
