@import '../../../../styles/vars';

.services {
    &__wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include main__padding;
        background-image: url('../../../../assets/img/dots-1.svg');
        background-position: right bottom;
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 30px;

        @media screen and (max-width: $tablet) {
            margin-top: 80px;
            margin-bottom: 20px;
            padding: 0;
        }

        @media screen and (max-width: $mobile) {
            margin-top: 10px;
            margin-bottom: 10px;
            background-image: none;
        }
    }

    &__nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: $desktop) {
            overflow-x: scroll;
            width: 100%;
            max-width: 950px;
        }

        &-btn {
            @media screen and (max-width: $tablet) {
                margin-left: 20px;
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__company {
        margin-top: 40px;
        display: flex;
        gap: 30px;
        align-items: flex-start;

        &--wrapper {
            width: 100%;
        }

        @media screen and (max-width: $small__desktop) {
            justify-content: center;
            flex-direction: column;
        }

        @media screen and (max-width: $large__tablet) {
        }

        @media screen and (max-width: $mobile) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
