@import '../../../../styles/vars';

.bucket {
    background-color: #fff;
    cursor: pointer;
    outline: 2px solid $secondary;
    box-shadow: 9px 9px 1px 1px rgba(57, 156, 203, 0.4);
    transition: 0.3s linear all;
    width: 100%;
    max-width: 210px;
    height: 100%;
    max-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
        max-width: 142px;
    }

    &--mobile {
        @media screen and (max-width: $mobile) {
            max-width: 140px;
            justify-content: center;
            align-items: center;
        }
    }

    &--large {
        width: 100%;
        max-width: 200px;
        max-height: 300px;
        // height: 100%;

        @media screen and (max-width: $small__desktop) {
            max-height: 252px;
        }

        // @media screen and (max-width: $medium__desktop) {
        //     max-height: 330px;
        // }

        & .bucket__background {
            @media screen and (max-width: $tablet) {
                align-self: flex-end;
            }
        }

        @media screen and (max-width: $tablet) {
            max-width: 665px;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: $tablet) {
            // height: 200px;
        }
    }

    &--ml {
        margin-right: -70px;
    }

    &--mr {
        margin-right: -9px;
    }

    &--largest {
        width: 100%;
        max-width: 230px;
        height: 100%;
        max-height: 320px;
    }

    &--big {
        width: 100%;
        max-width: 320px;
        max-height: 400px;

        & .bucket__background {
            @media screen and (max-width: $tablet) {
                align-self: flex-end;
            }
        }

        @media screen and (max-width: $tablet) {
            max-width: 690px;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover {
        outline: 3px solid $secondary;
        outline-offset: -2px;
    }

    &:active {
        @include button__press;
        box-shadow: 9px 9px 1px 1px rgba(57, 156, 203, 0);
    }

    &__background {
        margin-top: 20px;
        margin-left: 95px;
        padding-right: 10px;

        @media screen and (max-width: $tablet) {
            margin-left: 45px;
        }

        @media screen and (max-width: $mobile) {
            margin-top: 10px;
        }

        &--moved {
            margin-left: 0px;
            margin-bottom: 25px;
            margin-top: 35px;
            padding: 10px 60px;
        }

        &--center {
            text-align: center;
            margin: 20px auto;
            position: relative;
            left: 5px;
        }
    }

    &__icon {
        height: 100px;
        margin-bottom: 30px;
        margin-top: 25px;

        &--hide {
            display: none;
        }
    }

    &__label {
        margin: 0 15px 10px 30px;
        font-family: 'OktaNeue-Bold';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: $secondary;
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile) {
            margin-top: 30px;
        }

        &-icon {
            width: 18px;
            height: 18px;
            margin-left: 10px;
        }
    }
}
